<div class="face-snap-card" [ngClass]="{'snapped': userSnaped}">
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" srcset="">
    <p>Mis en ligne le {{ faceSnap.createdDate | date  : 'le d MMMM yy à HH:mm'}}</p>
    <p>{{ faceSnap.description }}</p>
    <p>
        <button (click)="onSnap()"> {{snapMsg}}</button>
        🤌 <span [ngStyle]="{color: 'rgb(0, ' + faceSnap.snaps + ', 0)'}" 
        >{{ faceSnap.snaps }}</span>
    </p>
    <p *ngIf="faceSnap.location">Photo prise à {{faceSnap.location}}</p>
</div>