<div class="face-snap-card" [ngClass]="{'snapped': userSnaped}">
    <h2 (click)="onViewSnap()">{{ faceSnap.title | titlecase }}</h2>
    <p>Mis en ligne le {{ faceSnap.createdDate | date  : 'le d MMMM yy à HH:mm'}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" srcset="">
    <p>{{ faceSnap.description }}</p>
    <p>
        <button (click)="onSnap()"> {{snapMsg}}</button>
        🤌 <span [ngStyle]="{color: 'rgb(0, ' + faceSnap.snaps + ', 0)'}" 
        >{{ faceSnap.snaps }}</span>
    </p>
    <p *ngIf="faceSnap.location">Photo prise à {{faceSnap.location}}</p>
    <hr>
    <p>DecimalPipe: {{ 4346234.36 | number : "1.0-0"}}</p>
    <p>PercentPipe: {{ 0.336 | percent }}</p>
    <p>CurrencyPipe: {{23.122 | currency : "EUR": "code"}}</p>
</div>